.notification {
  padding: 12px 6px;
  background-color: rgb(247, 247, 247);
  border: 2px solid;
  border-radius: 8px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.notification.notification--success {
  border-color: green;
  color: green;
}

.notification.notification--error {
  border-color: red;
  color: red;
}

.togglable {
  margin: 12px 0;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.blog .blog__collapsed .blog__info {
  padding: 5px;
}
